<h3>{% trans %}dashboard.projects.header{% endtrans %}</h3>
<table class="table mb-4">
  <thead>
    <tr>
      <th scope="col">{% trans %}dashboard.projects.title{% endtrans %}</th>
      <th scope="col">{% trans %}dashboard.projects.language{% endtrans %}</th>
      <th scope="col">{% trans %}dashboard.projects.status{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for project in myProjects %}
      <tr>
        <td><a href="{{ pathToProject(project) }}">{{ project.product.name }}</a></td>
        <td>{{ project.language.name }}</td>
        <td>{{ project.status }}</td>
      </tr>
    {% else %}
      <tr>
        <td colspan="3"><em>{% trans %}dashboard.projects.none_yet{% endtrans %}</em></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3>{% trans %}dashboard.projects.available_header{% endtrans %}</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans %}dashboard.projects.title{% endtrans %}</th>
      <th scope="col">{% trans %}dashboard.projects.language{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for project in otherProjects %}
      <tr>
        <td><a href="{{ pathToProject(project) }}">{{ project.product.name }}</a></td>
        <td>{{ project.language.name }}</td>
      </tr>
    {% else %}
      <tr>
        <td colspan="3"><em>{% trans %}dashboard.projects.none_yet{% endtrans %}</em></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ path('app_project_list') }}" class="btn btn-primary">{% trans %}dashboard.projects.browse_all{% endtrans %}</a>
