<div class="content-list-head d-flex">
	<h3>{% trans %}product.show.languages{% endtrans %}</h3>
	<div class="float-right d-none d-sm-block">
		<div class="btn-group" role="group" aria-label="{% trans %}product.show.product_actions{% endtrans %}">
			{% if is_granted('ROLE_USER') %}
				<button class="btn btn-secondary dropdown-toggle"
						type="button"
						data-toggle="dropdown"
				>
						{% trans %}product.show.download-original{% endtrans %}
				</button>
				<div class="dropdown-menu">
					{% if product.pdfDigitalFilename %}
						<a class="dropdown-item" href="{{ path('app_product_download_digital_pdf', {'slug': product.slug}) }}">
							{% trans %}product.show.pdf_digital_printing{% endtrans %}Pdf for digital printing
						</a>
					{% endif %}
					{% if product.pdfOffsetFilename %}
						<a class="dropdown-item" href="{{ path('app_product_download_offset_pdf', {'slug': product.slug}) }}">
							{% trans %}product.show.pdf_offset_printing{% endtrans %}
						</a>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') and product.idmlFilename %}
						<a class="dropdown-item" href="{{ path('app_product_download_idml', {'slug': product.slug}) }}">
							{% trans %}product.show.source_idml_file{% endtrans %}
						</a>
					{% endif %}
					{% for attachment in product.attachments %}
						<a class="dropdown-item" href="{{ pathToAttachment(attachment) }}">
							{{ attachment.fileType|dictionary('file_type')|trans }}
						</a>
					{% endfor %}
				</div>
			{% else %}
				<a class="btn btn-secondary"
				   href="{{ path('app_auth_login', {'redirect': app.request.server.get('REQUEST_URI')}) }}"
				   class="text-secondary"
				>
					{% trans %}product.show.login_download{% endtrans %}
				</a>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<button class="btn btn-secondary" data-toggle="modal" data-target="#add-file-form">
					{% trans %}product.show.upload_file_original{% endtrans %}
				</button>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<button class="btn btn-primary" data-toggle="modal" data-target="#add-project-form">
					{% trans %}product.show.new_translation{% endtrans %}
				</button>
			{% endif %}
		</div>
	</div>
</div>
<div class="content-list-body">
	<div class="card-list">
		<div class="card-list-body">
			{% if is_granted('ROLE_ADMIN') %}
				{% set projects = product.projects %}
			{% else %}
				{% set projects = product.enabledProjects %}
			{% endif %}
			{% for project in projects %}
				{% include 'product/_language.html.twig' %}
			{% else %}
				<p>{% trans %}product.show.untranslated{% endtrans %}</p>
			{% endfor %}
		</div>
	</div>
</div>

{% if is_granted('ROLE_ADMIN') %}
	{% set addAttachmentForm = addAttachmentFormObject.createView %}
	{% include 'product/_add_file_modal.html.twig' %}
{% endif %}
