{% extends "template.html.twig" %}

{% block title %}{% trans %}product.delete.title{% endtrans %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11">
				<div class="page-header clearfix">
					<img src="{{ coverPath }}{{ product.coverImageFilename }}" width="140" class="float-left mr-3 rounded">
					<div class="d-flex justify-content-between align-items-center">
						<h2>{{ product.name }}</h2>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_product_edit', {'slug': product.slug}) }}" class="btn btn-sm btn-secondary float-right"><i class="fas fa-pen"></i> {% trans %}product.show.edit{% endtrans %}</a>
						{% endif %}
					</div>
					<p>{{ product.description }}</p>
					{% if product.type %}
						<span class="text-small pr-2"><strong>{% trans %}product.show.type{% endtrans %}</strong>: {{ product.type|capitalize }}</span>
					{% endif %}
					{% if product.author %}
						<span class="text-small pr-2"><strong>{% trans %}product.show.author{% endtrans %}</strong>: {{ product.author }}</span>
					{% endif %}
					{% if product.pageCount %}
						<span class="text-small pr-2"><strong>{% trans %}product.show.page_count{% endtrans %}</strong>: {{ product.pageCount }}</span>
					{% endif %}
				</div>
				{{ form_start(deleteForm) }}
				<div class="border-danger m-4">
					<p class="text-danger">
						{% trans %}product.delete.warning1{% endtrans %}
						{% trans with {'%translation_count%': '<strong>'~translationCount~'</strong>'} %}product.delete.warning2{% endtrans %}
						{% trans %}product.delete.warning3{% endtrans %}
					</p>
					{{ form_end(deleteForm) }}
					<button type="submit" class="pull-right btn btn-warning">{% trans %}product.delete.submit{% endtrans %}</button>
				</div>
				{{ form_end(deleteForm) }}
			</div>
		</div>
	</div>
{% endblock %}
