
{% extends "template.html.twig" %}

{% block title %}{% trans with {'%product_name%': product.name } %}product.edit.title{% endtrans %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-lg-3 mb-3">
				<ul class="nav nav-tabs flex-lg-column">
					<li class="nav-item">
						<a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab">{% trans %}product.edit.general{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="specs-tab" data-toggle="tab" href="#specs" role="tab">{% trans %}product.edit.specs{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab">{% trans %}product.edit.advanced{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_product_show', {'slug': product.slug}) }}">Return to product</a>
					</li>
				</ul>
			</div>
			<div class="col-xl-8 col-lg-9">
				<div class="card">
					<div class="card-body">
						<div class="tab-content">
							<div class="tab-pane fade show active" role="tabpanel" id="general">
								{{ form_start(generalForm) }}
								{{ form_errors(generalForm) }}
								{{ include('product/form/_cover_image.html.twig', {form: generalForm}) }}
								<hr>
								{{ include('product/form/_general.html.twig', {form: generalForm}) }}
								{{ form_rest(generalForm) }}
								<div class="row justify-content-end">
									<button type="submit" class="btn btn-primary mr-2">{% trans %}commons.form.save{% endtrans %}</button>
								</div>
								{{ form_end(generalForm) }}
							</div>
							<div class="tab-pane fade" role="tabpanel" id="specs">
								{{ form_start(specsForm) }}
								{{ form_errors(specsForm) }}
								{{ include('product/form/_specs.html.twig', {form: specsForm}) }}
								{{ form_rest(specsForm) }}
								<div class="row justify-content-end">
									<button type="submit" class="btn btn-primary mr-2">{% trans %}commons.form.save{% endtrans %}</button>
								</div>
								{{ form_end(specsForm) }}
							</div>
							<div class="tab-pane fade" role="tabpanel" id="advanced">
								{% if product.idmlFilename %}
									<a href="{{ path('app_product_download_idml', {'slug': product.slug}) }}">
										{% trans %}product.edit.dowload_idml{% endtrans %}
									</a>
								{% else %}
									{{ form_start(idmlForm) }}
										{{ form_errors(idmlForm) }}
										{{ form_rest(idmlForm) }}
										<div class="row justify-content-end">
											<button type="submit" class="btn btn-primary mr-2">{% trans %}product.edit.upload{% endtrans %}</button>
										</div>
									{{ form_end(idmlForm) }}
								{% endif %}
								<hr>
								{{ form_start(pdfsForm) }}
									{{ form_errors(pdfsForm) }}
									{{ form_rest(pdfsForm) }}
									<div class="row justify-content-end">
										<button type="submit" class="btn btn-primary mr-2">Upload</button>
									</div>
								{{ form_end(pdfsForm) }}
								<hr>
								{{ form_start(deleteForm) }}
									{{ form_errors(deleteForm) }}
									{{ form_rest(deleteForm) }}
									<button
										type="submit"
										class="confirm-dialog btn btn-danger"
										data-confirm-message="{% trans %}product.edit.delete_warning{% endtrans %}"
									>
										{% trans %}product.edit.delete{% endtrans %}
									</button>
								{{ form_end(deleteForm) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
