{% extends "template.html.twig" %}

{% block title %}{% trans %}product.list.title{% endtrans %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11">
				<div class="page-header d-flex justify-content-between align-items-center">
					<h1>{% trans %}product.list.header{% endtrans %}</h1>
					{% if is_granted("ROLE_ADMIN") %}
						<div class="btn-group" role="group" aria-label="Produt actions">
							<button class="btn btn-primary d-flex" data-toggle="modal" data-target="#add-product-form">{% trans %}product.list.add{% endtrans %}</button>
							<button class="btn btn-secondary d-flex" data-toggle="modal" data-target="#validate-idml-form">{% trans %}product.list.validate_idml{% endtrans %}</button>
						</div>
					{% endif %}
				</div>
				<hr>
				<div class="content-list">
					{% include 'product/_filter.html.twig' %}
					<hr>
					<nav class="pagination justify-content-end">
						{{ knp_pagination_render(products) }}
					</nav>
					<div class="content-list-body row">
						{% for product in products  %}
							<div class="col-md-6">
								<div class="card card-project {% if not product.enabled %}card-disabled{% endif %}">
									<div class="row no-gutters">
										<div class="col" style="flex: 0 0 120px">
											<img alt="" src="{{ coverPath }}{{ product.coverImageFilename }}" height="180" class="rounded-left">
										</div>
										<div class="col">
											<div class="card-body">
												<div class="card-title">
													<a href="{{ path('app_product_show', {'slug': product.slug}) }}">
														<h5 data-filter-by="text" class="mb-0">{{ product.name }}</h5>
													</a>
													{% if product.author %}
														<p class="text-small mb-1">{% trans with {'%author%': '<em>'~product.author~'</em>'} %}product.list.author{% endtrans %}</p>
													{% endif %}
												</div>
												<div class="card-meta d-flex justify-content-between">
													<div class="">
														{% if product.pageCount %}
															<p class="text-small mb-1">{% trans %}product.list.page_count{% endtrans %}: {{ product.pageCount }} </p>
														{% endif %}
														<p class="text-small mb-1">{% trans %}product.list.languages{% endtrans %}:
															{% for project in product.projects %}
																{{ project.language.name }},
															{% else %}
																<em>{% trans %}product.list.untranslated{% endtrans %}</em>
															{% endfor %}
														</p>
													</div>
													{% if not product.enabled %}
														<i class="fas fa-eye-slash fa-pull-right fa-2x"></i>
													{% endif %}
												</div>
											</div>
											{% if product.publisher %}
												<div class="align-bottom ml-3 badge badge-secondary">
													{% if product.publisherWebsite %}
														{% set publisherName = '<a class="text-light" href="' ~ product.publisherWebsite ~ '">' ~ product.publisher ~ '</a>' %}
													{% else %}
														{% set publisherName = product.publisher %}
													{% endif %}
													{% trans with {'%publisher%': publisherName} %}product.list.publisher{% endtrans %}
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<div class="m-5 text-center">
								{% trans %}product.list.none{% endtrans %}
							</div>
						{% endfor %}
					</div>
					<nav class="pagination justify-content-end">
						{{ knp_pagination_render(products) }}
					</nav>
				</div>
			</div>
		</div>
	</div>
	{% if is_granted("ROLE_ADMIN") %}
		{% include 'product/add/_add_modal.html.twig' %}
		{% include 'product/idmlValidation/_idml_validation_modal.html.twig' %}
	{% endif %}
{% endblock %}
