{% extends "template.html.twig" %}

{% block title %}
	{% trans %}home.title{% endtrans %}
{% endblock %}

{% block contentHeader %}
	<div class="jumbotron jumbotron-fluid bg-dark mb-0 banner">
		<div class="container">
			<h1 class="display-4">{% trans %}home.jumbo.line1{% endtrans %}<br><span style="color:#f9dc90">{% trans %}home.jumbo.line2{% endtrans %}</span></h1>
			<p class="lead">{% trans %}home.jumbo.line3{% endtrans %}</p>
			<a href="{{ path('app_product_list') }}" class="btn btn-light mb-5">{% trans %}home.jumbo.cta{% endtrans %}</a>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11 text-center">
				<h1 class="mt-4">{% trans %}home.explain.intro{% endtrans %}</h1>
				<p class="lead">{% trans %}home.explain.desc{% endtrans %}</p>
				<div class="row mt-4">
					<div class="col-md-4">
						<div class="card mb-3">
							<a href="{{ path('app_product_list') }}">
								<img class="card-img-top mt-4 w-25" src="/assets/img/browse.svg">
							</a>
							<div class="card-body">
								<a class="card-title h6" href="{{ path('app_product_list') }}">{% trans %}home.explain.products_cta{% endtrans %}</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-3">
							<a href="{{ path('app_project_list') }}">
								<img class="card-img-top mt-4 w-25" src="/assets/img/translate.svg">
							</a>
							<div class="card-body">
								<a class="card-title h6" href="{{ path('app_project_list') }}">{% trans %}home.explain.translate_cta{% endtrans %}</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-3">
							<a href="{{ path('app_product_list') }}">
								<img class="card-img-top mt-4 w-25" src="/assets/img/download.svg">
							</a>
							<div class="card-body">
								<a class="card-title h6" href="{{ path('app_product_list') }}">{% trans %}home.explain.download_cta{% endtrans %}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron jumbotron-fluid bg-dark text-white p-4">
		<div class="container text-center">
			<div class='row align-items-center'>
				<div class='col-md-7 offset-1'>
					<p class="lead d-inline-block text-left">
						<b>{% trans %}home.invite.intro{% endtrans %}</b>
					</p>
				</div>
				<div class='col-md-3 text-left'>
					<a href="{{ path('app_project_list') }}" class="btn btn-primary btn-lg">{% trans %}home.invite.cta{% endtrans %}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11 text-center">
				<h1 class="mt-4">{% trans %}home.partner.intro{% endtrans %}</h1>
				<p class="lead">
					{% trans %}home.partner.line1{% endtrans %}<br>
					{% trans %}home.partner.line2{% endtrans %}
				</p>
				<div class="row text-center text-lg-left d-flex align-items-center">
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://publishing.adventist.org" class="d-block mb-4 h-100">
			            <img class="img-fluid" src="/assets/img/publishing.png">
			          </a>
				    </div>
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://www.middle-east-publishers.com/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="/assets/img/middle-east-publishers.png">
			          </a>
				    </div>
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://www.globalmissioncenters.org/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="/assets/img/globalmission.png">
			          </a>
				    </div>
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://women.adventist.org/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="/assets/img/womansministries.png">
			          </a>
				    </div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center d-flex align-items-center">
			<div class="col-xl-10 col-lg-11 text-center">
				<div class="row text-center text-lg-left">
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://www.awr.org/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="/assets/img/awr.png">
			          </a>
				    </div>
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="http://healthministries.com/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="/assets/img/healhministries.png">
			          </a>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron jumbotron-fluid bg-dark text-white p-4">
		<div class="container text-center">
			<div class='row align-items-center'>
				<div class='col-md-7 offset-1'>
					<p class="lead d-inline-block text-left">
						<b>{% trans %}home.donate.intro{% endtrans %}</b>
					</p>
				</div>
				<div class='col-md-3 text-left'>
					<a href="https://www.patreon.com/bePatron?u=23402844" target="_blank" class="btn btn-primary btn-lg">
						{% trans %}home.donate.cta{% endtrans %}
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container mb-4">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11 text-center">
				<h1 class="mt-4">{% trans %}home.team.intro{% endtrans %}</h1>
				<p class="lead">
					{% trans %}home.team.line1{% endtrans %}<br>
					{% trans %}home.team.line2{% endtrans %}
				</p>
				<div class="row text-center text-lg-left d-flex align-items-center">
					<div class='col-md-4 text-center'>
						<img class='rounded' src="/assets/img/team/Michael.png">
						<h3 class="mt-4">Michael Eckert</h3>
						<p class="lead">{% trans %}home.team.coordinator{% endtrans %}</p>
					</div>
					<div class='col-md-4 text-center'>
						<img class='rounded' src="/assets/img/team/Vincent.png">
						<h3 class="mt-4">Vincent Beauvivre</h3>
						<p class="lead">{% trans %}home.team.lead_dev{% endtrans %}</p>
					</div>
					<div class='col-md-4 text-center'>
						<img class='rounded' src="/assets/img/team/Marisa.png">
						<h3 class="mt-4">Marisa Ferreira</h3>
						<p class="lead">{% trans %}home.team.product_manager{% endtrans %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
