<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        <meta charset="utf-8">
        <title>Adventist Commons | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/assets/img/favicon.png">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body
            {% if app.request.attributes.has('slug') %}
                data-slug="{{ app.request.attributes.get('slug') }}"
            {% endif %}
            {% if app.request.attributes.has('languageCode') %}
                data-languageCode="{{ app.request.attributes.get('languageCode') }}"
            {% endif %}
            {% if app.request.attributes.has('sectionName') %}
                data-sectionName="{{ app.request.attributes.get('sectionName') }}"
            {% endif %}
    >
        {% block body %}
            <div class="main-container fullscreen">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-7">
                            {% block breadcrumb %}
                                {% include 'common/_breadcrumbs.html.twig' %}
                            {% endblock %}
                            {% include 'common/_messages.html.twig' %}
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>

</html>
