{% extends "html.html.twig" %}

{% form_theme form 'bootstrap/form_labelless_layout.html.twig' %}

{% block title %}Ask to reset my password{% endblock %}

{% block content %}
    <h1 class="h2">Welcome Back &#x1f44b;</h1>
    <p class="lead">Enter your email to receive an email to change your password</p>
    {% if message is defined and message %}
        <div class="alert alert-warning">{{ message|raw }}</div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
            Send the «change my password» email
        </button>
        <small>Are you lost here? <a href="{{ path('app_about_home') }}">get back to home</a>
    {{ form_end(form) }}
{% endblock %}
