{% extends "html.html.twig" %}

{% form_theme form 'bootstrap/_form_labelless_layout.html.twig' %}

{% block title %}{% trans %}auth.reset.title{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="h2">{% trans %}auth.reset.header{% endtrans %}</h1>
    <p class="lead">{% trans %}auth.reset.intro{% endtrans %}</p>
    {% if message is defined and message %}
        <div class="alert alert-warning">{{ message|raw }}</div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
            {% trans %}auth.reset.submit{% endtrans %}
        </button>
        <small>{% trans with {'%before_link%': '<a href="' ~ path('app_about_home') ~ '">', '%after_link%': '</a>'} %}commons.lost_here{% endtrans %}</small>
    {{ form_end(form) }}
{% endblock %}
