{% extends "template.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11">
				<div class="page-header">
					<h1>{{ project.product.name }} <span class="badge badge-secondary text-light ml-1">{{ project.language.name }}</span></h1>
					<p class="lead">{{ project.product.description }}</p>
					<div class="d-flex align-items-center">
						<ul class="avatars">
							{% for member in project.members  %}
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" title="{{ member.fullName }}">
										<img class="avatar" src="https://www.gravatar.com/avatar/{{ member.image }}?s=144&d=mp"/>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div>
						<div class="progress">
							<div class="progress-bar bg-success" style="width:{{ project|projectTranslatedRatio * 100 }}%;"></div>
						</div>
						<div class="d-flex justify-content-between text-small">
							<div class="d-flex align-items-center">
								<i class="fas fa-tasks"></i>&nbsp;
								<span>{{ project|projectProofreadCount }} / {{ project.product|sentenceCountForProduct }} ({{ project|projectTranslatedRatio * 100 }} %)</span>
							</div>
							<span>{{ ('project.status.' ~ project.status)|trans }}</span>
						</div>
					</div>
				</div>
				{{ form_start(deleteForm) }}
					<div class="border-danger m-4">
						<p class="text-danger">{% trans %}project.delete.warning{% endtrans %}</p>
						<button type="submit" class="pull-right btn btn-warning">{% trans %}project.delete.submit{% endtrans %}</button>
					</div>
				{{ form_end(deleteForm) }}
			</div>
		</div>
	</div>
{% endblock %}
