{% extends "template.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11">
				<div class="page-header">
					<h1>{% trans %}project.list.header{% endtrans %}</h1>
					<p class="lead">
						{% trans with {
							'%link_before%': '<a href="' ~ path('app_product_list') ~ '" class="text-secondary">',
							'%link_after%': '</a>',
						} %}project.list.intro{% endtrans %}</p>
				</div>
				<hr>
				<div class="content-list">
					<div class="row content-list-head">
						<div class="col-auto">
							<h3>{% trans %}project.list.ongoing_translations{% endtrans %}</h3>
						</div>
						<div class="col-auto">
							<div class="dropdown">
								<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
									<i class="material-icons align-top">language</i>
									{% if language %}
										{{ language.name }}
									{% else %}
										{% trans %}project.list.all_languages{% endtrans %}
									{% endif %}
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{{ path('app_project_list') }}">{% trans %}project.list.all_languages{% endtrans %}</a>
									{% for language in languagesWithProjects  %}
										<a class="dropdown-item" href="{{ path('app_project_list', {'languageCode': language.code}) }}">{{ language.name }}</a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<!--end of content list head-->
					<div class="content-list-body row">
						{% if projects|length == 0 %}
							<p class="lead m-auto p-5">
								{% if selected_language %}
									{% trans with {'%language_name%': selected_language.name} %}project.list.none_for_language{% endtrans %} – <a href='/projects?language=all'>{% trans %}project.list.view_all_languages{% endtrans %}</a>
								{% else %}
									{% trans %}project.list.no_translation{% endtrans %} 
								{% endif %}
							</p>
						{% endif %}
						{% for project in projects  %}
							<div class="col-lg-6">
								<div class="card card-project">

									<div class="progress">
										<div class="progress-bar bg-success" role="progressbar" style="width: {{ project|projectApprovedCount * 100 }} %"></div>
									</div>

									<div class="card-body">
										{% if is_granted('ROLE_ADMIN') %}
											<div class="dropdown card-options">
												<button class="btn-options" type="button" data-toggle="dropdown">
													<i class="material-icons">more_vert</i>
												</button>
												<div class="dropdown-menu dropdown-menu-right">
													<a href="{{ pathToProject(project, 'delete') }}" class="dropdown-item confirm-dialog" data-confirm-message="{% trans %}project.list.delete_warning{% endtrans %}">{% trans %}project.list.delete{% endtrans %}</a>
												</div>
											</div>
										{% endif %}
										<div class="card-title">
											<a href="{{ pathToProject(project) }}">
												<h5 data-filter-by="text">{{ project.product.name }}<span class="badge badge-light text-secondary ml-1">{{ project.language.name }}</span></h5>
											</a>
										</div>
										<ul class="avatars">
											{% for member in project.members  %}
												<li>
													<a href="#" data-toggle="tooltip" title="{{ member.fullName }}">
														<img class="avatar" src="https://www.gravatar.com/avatar/{{ member.image }}" data-filter-by="alt" />
													</a>
												</li>
											{% endfor %}
										</ul>
										<div class="card-meta d-flex justify-content-between">
											<div class="d-flex align-items-center">
												<i class="material-icons mr-1">playlist_add_check</i>
												<span class="text-small">{{ project|projectApprovedCount }}/{{ project.product|productCount }}</span>
											</div>
											<span class="text-small" data-filter-by="text">{{ project.status }}</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<!--end of content list body-->
				</div>
			</div>
		</div>
	</div>
{% endblock %}
