{% extends "template.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11">
				<div class="page-header">
					<h1>{{ project.product.name }} <span class="badge badge-secondary text-light ml-1">{{ project.language.name }}</span></h1>
					<p class="lead">{{ project.product.description }}</p>
					<div class="d-flex align-items-center">
						<ul class="avatars">
							{% for contributor in contributors  %}
								<li>
									{% include 'common/_avatar.html.twig' with {user: contributor} %}
								</li>
							{% endfor %}
						</ul>
					</div>
					<div>
						<div class="progress-group" style="position: relative">
							<div class="progress" style="margin-bottom: 0">
								<div class="progress-bar bg-danger" role="progressbar" style="width: {{ project|projectTranslatedRatio * 100 }}%" aria-valuenow="{{ project|projectTranslatedCount }}" aria-valuemin="0" aria-valuemax="{{ project.product|sentenceCountForProduct }}"></div>
							</div>
							<div class="progress" style="margin-top: -1rem; background: none;">
								<div class="progress-bar bg-info" role="progressbar" style="width: {{ project|projectApprovedRatio * 100 }}%" aria-valuenow="{{ project|projectApprovedCount }}" aria-valuemin="0" aria-valuemax="{{ project.product|sentenceCountForProduct }}"></div>
							</div>
							<div class="progress" style="margin-top: -1.75rem; background: none;">
								<div class="progress-bar bg-success" role="progressbar" style="width: {{ project|projectReviewedRatio * 100 }}%" aria-valuenow="{{ project|projectReviewedCount }}" aria-valuemin="0" aria-valuemax="{{ project.product|sentenceCountForProduct }}"></div>
							</div>
						</div>
						<div class="d-flex justify-content-between text-small">
							<div class="d-flex align-items-center">
								<i class="fas fa-tasks"></i>&nbsp;
								<span>{{ project|projectTranslatedCount }} / {{ project.product|sentenceCountForProduct }} ({{ (project|projectTranslatedRatio * 100)|round(1) }} %)</span>
							</div>
							<span>{{ project.status }}</span>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs nav-fill" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#content" role="tab">{% trans %}project.show.content{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#members" role="tab">{% trans %}project.show.contributors{% endtrans %}</a>
					</li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane fade show active" id="content" role="tabpanel">
						<div class="row content-list-head">
							<div class="col-auto">
								<h3>{% trans %}project.show.content{% endtrans %}</h3>
							</div>
						</div>
						<div class="content-list-body">
							<div class="card-list">
								<div class="card-list-body">
									{% for section in project.product.sections %}
										<div class="card card-task">
											<div class="progress">
												<div class="progress-bar bg-danger" role="progressbar" style="width: {{ project|projectTranslatedRatio(section) * 100 }}%"></div>
											</div>
											<div class="progress">
												<div class="progress-bar bg-info" role="progressbar" style="width: {{ project|projectApprovedRatio(section) * 100 }}%"></div>
											</div>
											<div class="progress">
												<div class="progress-bar bg-success" role="progressbar" style="width: {{ project|projectReviewedRatio(section) * 100 }}%"></div>
											</div>
											<div class="card-body">
												<div class="card-title">
													<a href="{{ pathToSection(project, section, 'edit') }}">
														<h6 data-filter-by="text">{{ section.name }}</h6>
													</a>
													<div class="d-flex align-items-center">
														<i class="fas fa-tasks"></i>&nbsp;
														<span>{{ project|projectTranslatedCount(section) }}/{{ section|sentenceCountForSection }}</span>
													</div>
												</div>
												<div class="card-meta">
													<a href="{{ pathToSection(project, section, 'edit') }}" class="btn btn-secondary">
														{% trans %}project.show.start_translate{% endtrans %}
													</a>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show" id="members" role="tabpanel">
						<div class="content-list">
							<div class="row content-list-head">
								<div class="col-auto">
									<h3>{% trans %}project.show.contributors{% endtrans %}</h3>
								</div>
							</div>
							<div class="content-list-body row">
								{% for contributor in contributors  %}
									<div class="col-6">
										<div class="media media-member">
											{% include 'common/_avatar.html.twig' with {user: contributor} %}
											<div class="media-body">
												<h6 class="mb-0" data-filter-by="text">
													{% if contributor.active %}
														{{ contributor.fullName }}
													{% else %}
														<span class="badge badge-secondary">
															{% trans %}project.show.contributor{% endtrans %}
														</span>
													{% endif %}
												</h6>
												<span data-filter-by="text" class="text-body">{% for group in contributor.groups %}{{ group.name|capitalize }} {% endfor %}</span>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
							<div class="row content-list-head">
								<div class="col-auto">
									<h3>{% trans %}project.show.members{% endtrans %}</h3>
									{% if is_granted('ROLE_ADMIN') %}
										<button class="btn btn-round btn-primary" data-toggle="modal" data-target="#member-add-modal" alt="{% trans %}project.show.add_contributor{% endtrans %}">
											<i class="fas fa-user-plus"></i>&nbsp;
										</button>
									{% endif %}
								</div>
							</div>
							<div class="content-list-body row">
							{% for member in project.members  %}
								<div class="col-6">
									<div class="media media-member">
										{% include 'common/_avatar.html.twig' with {user: member} %}
										<div class="media-body">
											<h6 class="mb-0" data-filter-by="text">
												{% if member.active %}
													{{ member.fullName }}
												{% else %}
													<span class="badge badge-secondary">
														{% trans %}project.show.invited_contributor{% endtrans %}
													</span>
												{% endif %}
											</h6>
											<span data-filter-by="text" class="text-body">{% for group in member.groups %}{{ group.name|capitalize }} {% endfor %}</span>
										</div>
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		{{ include('project/_add_members_modal.html.twig') }}
	{% endif %}
{% endblock %}
